* {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

body {
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
}

header {
    background-color: black;
    text-transform: uppercase;
}

main {
    margin: 1rem 0rem 1rem 0rem;
}

.row {
    --bs-gutter-x: 1rem;
    --bs-gutter-y: 1rem;
}

.titulo__general {
    background: linear-gradient(90deg, rgba(252, 70, 106, 0.100) 20%, white 50%, rgba(65, 96, 251, 0.100) 80%);
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.5rem;
    margin: 1rem 0rem 1rem 0rem;
}

.carousel {
    border: 2px solid #FC466B;
    border-radius: 5px;
}

.card__product {
    margin-left: 1rem;
    margin-right: 1rem;
}

.card-header {
    background-color: white;
    border-bottom: 2px solid #FC466B;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
}

.card {
    border: none;
    height: 100%;
}

.card img {
    border-bottom: 2px solid #FC466B;
}

.card__productPrecio {
    font-weight: bold;
    color: #0d9d00;
}

.accordion-item {
    border: none;
}

.accordion-button {
    background-color: white;
    border: none;
    border-bottom: 2px solid #FC466B;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
}

.accordion-button:hover {
    color: #FC466B;
}

.accordion-button:active {
    color: #FC466B;
}

.accordion-button:not(.collapsed) {
    color: #000000;
    background-color: white;
}

.accordion-button:focus {
    z-index: 0;
    border-color: #FC466B;
    box-shadow: none;
}

.pregunta__icon {
    margin-right: 3px;
}

.form-control,
.form-select {
    border: 1px solid #FC466B;
}

textarea {
    resize: none;
}

.btn__rosa {
    background-color: #FC466B;
    color: white;
}

.btn__rosa:hover {
    background-color: black;
    color: white;
}

.mapa {
    border: 1px solid #FC466B;
    border-radius: 5px;
}

footer {
    background-color: black;
    color: white;
    padding: 2rem;
}

footer a {
    color: white;
    display: block;
    padding: 1rem;
    transition-duration: 0.2s;
    text-transform: uppercase;
    text-decoration: none;
}

footer a:hover {
    color: #ff00d4;
}

@media (min-width: 220px) and (max-width: 400px) {
    .card__product {
        margin-left: 0;
        margin-right: 0;
        flex-direction: column;
        align-items: center;
    }

    .pregunta__icon {
        font-size: 2rem;
        display: none;
    }
}